@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    П. Волов 2<br />
</address>

<address>
    <strong>Поддръжка:</strong> <a href="mailto:Support@example.com">@ViewData["Message"]</a><br />
    <strong>Маркетинг:</strong> <a href="mailto:Marketing@example.com">@ViewData["Message"]</a>
</address>
