@model ChangeUserPasswordViewModel
@{
    ViewData["Title"] = "Смяна на парола";
}



<form method="post">
    <div class="row">
        <div style="color:azure;" class="col-md-4 center-block text-center">
        </div>

        <div style="color:azure;" class="col-md-4">
            <h4>Потребител <em style="color:antiquewhite;">@Model.Username</em> смяна на парола</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" class="hidden" />
            <input asp-for="Username" class="hidden" />

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div style="color:azure;" class="col-md-4 center-block text-center">
        </div>

    </div>
    <div class="center-block text-center">
        <button type="submit" class="button save">Запази промените</button>
        <a class="button btncansel" asp-controller="Users" asp-action="Allusers">Отказ</a>
    </div>


</form>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

